{
	"rules": {
		"color-hex-case": null,
		"color-hex-length": null,
		"color-named": "never",
		"color-no-hex": null,
		"color-no-invalid-hex": true,
		"font-family-name-quotes": "always-where-required",
		"font-weight-notation": null,
		"function-blacklist": null,
		"function-calc-no-unspaced-operator": null,
		"function-comma-newline-after": null,
		"function-comma-newline-before": null,
		"function-comma-space-after": null,
		"function-comma-space-before": null,
		"function-linear-gradient-no-nonstandard-direction": null,
		"function-max-empty-lines": 0,
		"function-name-case": null,
		"function-parentheses-newline-inside": null,
		"function-parentheses-space-inside": null,
		"function-url-data-uris": null,
		"function-url-quotes": null,
		"function-whitelist": null,
		"function-whitespace-after": null,
		"number-leading-zero": null,
		"number-max-precision": null,
		"number-no-trailing-zeros": null,
		"length-zero-no-unit": null,
		"string-no-newline": null,
		"string-quotes": "double",
		"time-no-imperceptible": true,
		"unit-blacklist": null,
		"unit-case": null,
		"unit-no-unknown": null,
		"unit-whitelist": null,
		"value-no-vendor-prefix": null,
		"value-keyword-case": null,
		"value-list-comma-newline-after": null,
		"value-list-comma-newline-before": null,
		"value-list-comma-space-after": null,
		"value-list-comma-space-before": null,
		"custom-property-no-outside-root": null,
		"custom-property-pattern": null,
		"shorthand-property-no-redundant-values": null,
		"property-blacklist": null,
		"property-case": null,
		"property-no-vendor-prefix": true,
		"declaration-property-unit-blacklist": null,
		"declaration-property-unit-whitelist": null,
		"declaration-property-value-blacklist": null,
		"declaration-property-value-whitelist": null,
		"property-whitelist": null,
		"declaration-bang-space-after": null,
		"declaration-bang-space-before": null,
		"declaration-colon-newline-after": null,
		"declaration-colon-space-after": null,
		"declaration-colon-space-before": null,
		"declaration-no-important": true,
		"declaration-block-no-duplicate-properties": true,
		"declaration-block-no-ignored-properties": true,
		"declaration-block-no-shorthand-property-overrides": null,
		"declaration-block-properties-order": null,
		"declaration-block-semicolon-newline-after": null,
		"declaration-block-semicolon-newline-before": null,
		"declaration-block-semicolon-space-after": null,
		"declaration-block-semicolon-space-before": null,
		"declaration-block-single-line-max-declarations": 1,
		"declaration-block-trailing-semicolon": null,
		"block-closing-brace-newline-after": null,
		"block-closing-brace-newline-before": null,
		"block-closing-brace-space-after": null,
		"block-closing-brace-space-before": null,
		"block-no-empty": true,
		"block-no-single-line": null,
		"block-opening-brace-newline-after": null,
		"block-opening-brace-newline-before": null,
		"block-opening-brace-space-after": null,
		"block-opening-brace-space-before": null,
		"selector-attribute-brackets-space-inside": null,
		"selector-class-pattern": [ "^(([a-zA-Z]*)+)(-(([a-z][a-zA-Z]+)+))?(--(([a-z][a-zA-Z]+)+))?$" ],
		"selector-combinator-space-after": null,
		"selector-combinator-space-before": null,
		"selector-id-pattern": null,
		"selector-max-specificity": "1,0,1",
		"selector-no-attribute": null,
		"selector-no-combinator": null,
		"selector-no-id": null,
		"selector-no-qualifying-type": null,
		"selector-no-type": null,
		"selector-no-universal": null,
		"selector-no-vendor-prefix": true,
		"selector-pseudo-class-case": null,
		"selector-pseudo-class-parentheses-space-inside": null,
		"selector-pseudo-element-case": null,
		"selector-pseudo-element-colon-notation": null,
		"selector-root-no-composition": null,
		"selector-type-case": null,
		"selector-list-comma-newline-after": "always",
		"selector-list-comma-newline-before": "never-multi-line",
		"selector-list-comma-space-after": null,
		"selector-list-comma-space-before": null,
		"root-no-standard-properties": null,
		"rule-nested-empty-line-before": null,
		"rule-non-nested-empty-line-before": [
			"always-multi-line", {
				"ignore": [ "after-comment" ]
			}
		],
		"media-feature-colon-space-after": null,
		"media-feature-colon-space-before": null,
		"media-feature-name-no-vendor-prefix": null,
		"media-feature-no-missing-punctuation": null,
		"media-feature-range-operator-space-after": null,
		"media-feature-range-operator-space-before": null,
		"custom-media-pattern": null,
		"media-feature-parentheses-space-inside": null,
		"media-query-list-comma-newline-after": null,
		"media-query-list-comma-newline-before": null,
		"media-query-list-comma-space-after": null,
		"media-query-list-comma-space-before": null,
		"at-rule-empty-line-before": null,
		"at-rule-name-case": null,
		"at-rule-no-vendor-prefix": null,
		"comment-empty-line-before": null,
		"comment-whitespace-inside": null,
		"comment-word-blacklist": null,
		indentation: "tab",
		"max-empty-lines": 1,
		"max-line-length": null,
		"max-nesting-depth": 3,
		"no-browser-hacks": [ true, {
			"browsers": [ "last 2 versions", "ie >=9" ]
		} ],
		"no-descending-specificity": null,
		"no-duplicate-selectors": true,
		"no-eol-whitespace": null,
		"no-indistinguishable-colors": [
			true,
			{ "threshold": 3 }
		],
		"no-invalid-double-slash-comments": null,
		"no-missing-end-of-source-newline": null,
		"no-unknown-animations": null,
		"no-unsupported-browser-features": [ true, {
			"browsers": [ "last 2 versions", "ie >= 9" ],
			"ignore": [ "rem", "css-transitions", "css-animation", "flexbox" ]
		} ],
		"stylelint-disable-reason": null
	}
}
