@import "../node_modules/normalize.scss/normalize.scss";

html {
  max-width: 800px;
  margin: 0 auto;
}

body {
	margin: 2rem;
}

.table th,
.table td {
	text-align: right;
	width: 20%;
}

.table th:first-child,
.table td:first-child {
	text-align: left;
}
